<div id="e-handbook">
    <div id="handbook-box">
        <section class="top">
            E-Handbook
        </section>
        <subcontainer></subcontainer>
        <section class="handbook-bottom">

        </section>
        <div id="academy-logo">
        
        </div>
    </div>
</div>
<script>

</script>
<animation>handbook</animation>