<div id = "story">
    <section id="top-section">
        <section id="tabs">
            <button class="tab" id="story-tab">Day 0</button>
            <button class="tab unselected" id="contents-tab">Calendar</button> 
            <button class="tab unselected <%if(!user.gamemaster){%>invisible-2<%}%>" id="gamemaster-tab">Gamemaster View</button> 
        </section>
    </section>
    <section id="main-story-section">
        <section id="left-arrow">
            <section class="arrow-box invisible" id="left-arrow-box"><i class="fas fa-chevron-left"></i></section>
        </section>
        <section>
            <section class="textbox" id="player-box">
                <section class="bottom" id="player-bottom">
                    <subcontainer></subcontainer>
                </section>
            </section>
        </section>  
        <section id="right-arrow">
            <section class="arrow-box invisible" id="right-arrow-box"><i class="fas fa-chevron-right"></i></section>
        </section>
    </section>
    <section id="top-arrow">
        <section class="arrow-box invisible" id="top-arrow-box"><i class="fas fa-chevron-up"></i></section>
    </section>
    <section id="cutaway-image-collection" class="invisible external">

    </section>



    <section id="cutaway-image-container">
        <section id="cutaway-image">

        </section>
        <section id="cutaway-subtitle">
        </section>
    </section>
    <section id="choice-container">
        <section id="choice">

        </section>
    </section>
</div>
<script src="/scripts/story.js"></script>
<script>
    let chapterNumber = JSON.parse(`<%-JSON.stringify(chapterNumber)%>`); 
    $("body").on("keydown", function (e) {
        if (e.keyCode == 17) {
            if(enterButton&&keyButtons)
                $("#player-box").click()
        }
    })
    
    $("body").on("keypress", function (e) {
        if (e.keyCode == 13 || e.keyCode == 32) {
            if(ctrlButton&&keyButtons)
                $("#player-box").click();
        }
    })
    
    $("body").on("keydown", function (e){
        if(e.keyCode == 37){
            if(keyButtons)
            $("#left-arrow-box").click();
        }
        if(e.keyCode == 39){
            if(keyButtons)
            $("#right-arrow-box").click();
        }
    })
    buttons.contentsTab = function(){
        $("#contents-tab").on("click", async function(){

        })
    }
    buttons.storyTab = function(){
        $("#story-tab").on("click", async function(){
            newStates = ["despair","story","day"]
            pageTitle = "Killing Game"
            url = "/despair/story/day"
            stateChange(newStates,databaseObjects,customData,pageTitle,url)
        })
    }
    
    buttons.gamemasterTab = function(){
        $("#gamemaster-tab").on("click", async function(){
            newStates = ["despair","story","gamemaster-day"]
            pageTitle = "Killing Game"
            url = "/despair/story/gamemaster-day"
            stateChange(newStates,databaseObjects,customData,pageTitle,url)
        })
    }
    buttons.contentsTab();
    buttons.storyTab();
    buttons.gamemasterTab();
    
    window.addEventListener('contextmenu', function(e){
        if(!user.gamemaster){
            e.preventDefault();
            if(screen){
                $("#title-box-event").css("visibility","hidden");
                $("#sub-base").css("visibility","hidden");
                screen = false;
            }else{
                $("#sub-base").css("visibility","visible");
                $("#title-box-event").css("visibility","visible");
                screen = true;
            }
        }
    }) 
    
    if(isMobile){
        let touchstartX = 0;
        let touchstartY = 0;
        let touchendX = 0;
        let touchendY = 0;
    
        window.addEventListener('touchstart', function(event) {
            touchstartX = event.changedTouches[0].screenX;
            touchstartY = event.changedTouches[0].screenY;
        }, false);
    
        window.addEventListener('touchend', function(event) {
            touchendX = event.changedTouches[0].screenX;
            touchendY = event.changedTouches[0].screenY;
            handleGesture();
        }, false); 
    
        function handleGesture() {
            if (touchendX <= touchstartX) {
                if(touchstartX - touchendX > 50){
                    $("#right-arrow-box").click();
                }
            }
            
            if (touchendX >= touchstartX) {
                if(touchstartX - touchendX < -50){
                    $("#left-arrow-box").click();
                }
            }
            
            if (touchendY <= touchstartY) {
                //UP
            }
            
            if (touchendY >= touchstartY) {
                //DOWN
            }
            
            if (touchendY === touchstartY) {
                //TAP
            }
        }
    }
</script>
<animation>story</animation>