<div id="school" class="rules-box">
    <div class="rule-title">School Rules</div>
    <div id="rules-space">
        <subcontainer></subcontainer>
    </div>

    

</div>
<animation>down</animation>