<div id = "calendar" class="event-box">
    <div id="title-box-calendar">
        <p class="boxtext title calendar-title">Calendar</p>
        <div class="sub-base-container-container" id="sub-calendar-container-container">
            <div class="sub-base-container" id="sub-calendar-container">
                <section class="sub-base" id="sub-calendar">
                    
                </section>
            </div>
        </div>  
    </div>
</div>
<div id="fill-space">

</div> 
<script>
    $("#gamemaster-tab").addClass("unselected");
    $("#story-tab").addClass("unselected");
    $("#contents-tab").removeClass("unselected");
</script>
<animation>calendar</animation>