<div id="present-container">
    <div id="presents-title">
        Presents
    </div>
    <div id="presents">
        <%for(let x=0; x<3; x++){%>
            <div class="presents-row">
                <%for(let y=0; y<10; y++){%>
                    <div class="present">
    
                    </div>
                <%}%>
            </div>
        <%}%>
        <div id="presents-description">
            <div id="present-name">
    
            </div>
            <div id="present-description">
    
            </div>
        </div>
    </div>
</div>
<animation>presents</animation>