<div id="report-card">
    <div id="report-card-nav">
        <section id="report-nav-top">
            <div id="report-card-title"><i class="report-card-img fa-solid fa-users"></i>Report Card</div>
            <div id="report-card-handbook-title">Student Information</div>
        </section>
        <section id="report-nav-bottom">
            <%for(let x=0; x<16; x++){%>
                <div class="report-nav-student"id="student-<%=x+1%>"></div>
            <%}%>
                <div id="report-nav-student-name">Mouseover Name</div>
        </section>
    </div>
    <subcontainer></subcontainer>
</div>
<animation>down</animation>