<div class="report-info-page" id="page-one">
    <div class="report-row">
        <div class="report-sub-row" id="report-height">
            <div class="report-title">
                Height
            </div>
            <div class="report-description">
                5'9"
            </div>
        </div>
        <div class="report-sub-row" id="report-weight">
            <div class="report-title">
                Weight
            </div>
            <div class="report-description">
                150 lbs
            </div>
        </div>
    </div>
    <div class="report-row">
        <div class="report-sub-row" id="report-birthday">
            <div class="report-title">
                Birthday
            </div>
            <div class="report-description">
                August 22
            </div>
        </div>
        <div class="report-sub-row" id="report-age">
            <div class="report-title">
                Age
            </div>
            <div class="report-description">
                17
            </div>
        </div>
    </div>
    <div class="report-row">
        <div class="report-title">
            Likes
        </div>
        <div class="report-description">


        </div>
    </div>
    <div class="report-row">
        <div class="report-title">
            Dislikes
        </div>
        <div class="report-description">


        </div>
    </div>
    <div class="report-row">
        <div class="report-title">
            Ultimate High School
        </div>
        <div class="report-description">
            Philosopher
        </div>
    </div>
    <div class="report-notes">
        <div class="report-notes-title">
            Notes
        </div>
        <div class="report-notes-notes">

        </div>
    </div>
</div>
<animation>down</animation>