<div class="left-rule-arrow rule-arrow"><</div>
<div id="rule-box">
    <div id="rule-number"><p id="rule-number-text">5</p></div>
    <div id="rule-text">
        <p class="rule-p">#5.A: A single Class Trial will be held for all unsolved murders at once.</p>
        <p class="rule-p">#5.B: If the culprits are correctly deduced as murderers after a Class Trial, they alone will be executed.</p>
        <p class="rule-p">#5.C: If a culprit avoids deduction as the murderer, they (and any other successful culprits) will <i>Advance</i> and all other remaining students will be terminated.</p>
    </div>
</div>
<div class="right-rule-arrow rule-arrow">></div>
<animation><%if(animation){%><%=animation%><%}else{%>left<%}%></animation>
<script>
    buttons.leftArrow = function(){
        $(".left-rule-arrow").on("mouseover",function(){
            playSound("Selecting");
        })
        $(".left-rule-arrow").on("click", function(){
            playSound("Selected");
        })
        $(".left-rule-arrow").on("click", function(){
            newStates = ["despair","e-handbook","rules","school","rule-four"]
            newDatabaseObjects = [false,false,false,false,false]
            newCustomData = [false,false,false,false,{animation:"right"}]
            pageTitle = "Killing Game"
            url = "/despair/e-handbook/rules"
            stateChange(newStates,newDatabaseObjects,newCustomData,pageTitle,url)
        })
    }
    buttons.leftArrow();
    buttons.rightArrow = function(){
        $(".right-rule-arrow").on("mouseover",function(){
            playSound("Selecting");
        })
        $(".right-rule-arrow").on("click", function(){
            playSound("Selected");
        })
        $(".right-rule-arrow").on("click", function(){
            newStates = ["despair","e-handbook","rules","school","rule-six"]
            newDatabaseObjects = [false,false,false,false,false]
            newCustomData = [false,false,false,false,{animation:"left"}]
            pageTitle = "Killing Game"
            url = "/despair/e-handbook/rules"
            stateChange(newStates,newDatabaseObjects,newCustomData,pageTitle,url)
        })
    }
    buttons.rightArrow();
</script>