<div class="menu player-menu" id="main-menu">
    <section class="option" id="continue">
        Continue
    </section>
    <section class="option" id="story">
        Story
    </section>
    <section class="option" id="handbook">
        E-Handbook
    </section>
    <section class="option" id="exit-game">
        Exit Game
    </section>
</div>
<script>
    buttons.continue = function(){
        $("#continue").on("mouseover",function(){
            playSound("Selecting");
        })
        $("#continue").on("click", function(){
            playSound("Selected");
        })
        $("#continue").on("click", async function(){
            newStates = ["despair","story","day"]
            newDatabaseObjects = [false,false,[{name: "Day", id: user.despair.chapters[gameState.chapter-1].days[gameState.day-1]}]]
            newCustomData = [false,{chapterNumber: gameState.chapter},{time: gameState.phase.charAt(0).toUpperCase() + gameState.phase.substring(1)}]
            pageTitle = "Story"
            url = "/despair/story/day"
            $("body").append("<div id='loading-screen'><i class='fa-solid fa-spinner spin'></i></div>")
            $("#loading-screen").addClass("fadeIn");
            await stateChange(newStates,newDatabaseObjects,newCustomData,pageTitle,url);
            $("#click-signifier").remove();
            $("#free-time-students").css("display","none");
            $("#free-time-choices").css("display","none");
            $("#free-time-submit-container").css("display","none");
            $(".hidden-text").removeClass("hidden-text")
            for(let x=0; x<user.despair.currentLine+1; x++){
                await instantNextLine();
            }
            $("#loading-screen").removeClass("fadeIn");
            $("#loading-screen").addClass("fadeOut");
            setTimeout(function(){$("#loading-screen").remove();},500)
        })
    }
    buttons.continue();
    buttons.story = function(){
        $("#story").on("mouseover",function(){
            playSound("Selecting");
        })
        $("#story").on("click", function(){
            playSound("Selected");
        })
        $("#story").on("click", function(){
            //Load Calendar (Calendar should load whatever day is sent to it as the link click)
            newStates = ["despair","story","calendar","chapter"]
            newDatabaseObjects = [false,false,[{name: "Day", id: user.despair.chapters[0].days[0]}],false]
            newCustomData = [false,{chapterNumber: 1},{time: "morning"},{chapter: {number: 1,days: user.despair.chapters[0].days}}]
            pageTitle = "Story"
            url = "/despair/story/calendar/chapter"
            stateChange(newStates,newDatabaseObjects,newCustomData,pageTitle,url)
        })
    }
    buttons.story();
    buttons.handbook = function(){
        $("#handbook").on("mouseover",function(){
            playSound("Selecting");
        })
        $("#handbook").on("click", function(){
            playSound("Selected");
        })
        $("#handbook").on("click", function(){
            newStates = ["despair","e-handbook","main"]
            newDatabaseObjects = [false,false,false]
            newCustomData = [false,false,false]
            pageTitle = "E-Handbook"
            url = "/despair/e-handbook/main"
            stateChange(newStates,newDatabaseObjects,newCustomData,pageTitle,url)
        })
    }
    buttons.handbook();
    buttons.exit = function(){
        $("#exit-game").on("mouseover",function(){
            playSound("Selecting");
        })
        $("#exit-game").on("click", function(){
            playSound("Selected");
        })
        $("#exit-game").on("click", function(){
            newStates = ["despair","home","start-screen"]
            newDatabaseObjects = [false,false,false]
            newCustomData = [false,false,false]
            pageTitle = "Killing Game"
            url = "/despair/home/start-screen"
            stateChange(newStates,newDatabaseObjects,newCustomData,pageTitle,url)
        })
    }
    buttons.exit();
</script>
<animation>mainMenu</animation>