<div id="start-title-box">
    <p class="start-title">Killing Game</p>
    <div id="start-options-box">
        <div id="despair-button">
            <p>Side: Despair</p>
        </div>
        <div id="house-of-cards-button">
            <p>Side: House of Cards</p>
        </div>
    </div>
</div>
<script>
    buttons.despairButton = function(){
        $("#despair-button").on("click", function(){
            states = ["despair","home"]
            databaseObjects = [false,false,false]
            customData = [false,false,false]
            pageTitle = "Despair Game"
            url = "/despair/home"
            stateChange(states,databaseObjects,customData,pageTitle,url)
        })
    }
    buttons.despairButton();
    buttons.houseOfCardsButton = function(){
        $("#house-of-cards-button").on("click", function(){
            states = ["house-of-cards","home"]
            databaseObjects = [false,false,false]
            customData = [false,false,false]
            pageTitle = "House of Cards"
            url = "/house-of-cards/home"
            stateChange(states,databaseObjects,customData,pageTitle,url)
        })
    }
    buttons.houseOfCardsButton();
</script>
<animation>up</animation>
