<div id="start-title-box">
    <p class="start-title">Killing Game</p>
    <div id="start-options-box">
        <div class="start-button" id="despair-button">
            <img class="start-image" src="/visuals/DespairGame.png">
            <p>Side: Despair</p>
        </div>
        <div class="start-button" id="house-of-cards-button">
            <img class="start-image" src="/visuals/HouseOfCards.png">
            <p>Side: House of Cards</p>
        </div>
    </div>
    <div id="start-bottom-box">

    </div>
</div>
<script>
    buttons.despairButton = function(){
        $("#despair-button").on("click", function(){
            newStates = ["despair","home","start-screen"]
            newDatabaseObjects = [false,false,false]
            newCustomData = [false,false,false]
            pageTitle = "Despair Game"
            url = "/despair/home/start-screen"
            stateChange(newStates,newDatabaseObjects,newCustomData,pageTitle,url)
        })
    }
    buttons.despairButton();
    buttons.houseOfCardsButton = function(){
        $("#house-of-cards-button").on("click", function(){
            newStates = ["house-of-cards","home"]
            newDatabaseObjects = [false,false,false]
            newCustomData = [false,false,false]
            pageTitle = "House of Cards"
            url = "/house-of-cards/home"
            stateChange(newStates,newDatabaseObjects,newCustomData,pageTitle,url)
        })
    }
    buttons.houseOfCardsButton();
</script>
<animation>up</animation>
