<div id="report-card-info">
    <div id="report-card-info-name">
        Ishikawa Shiori
    </div>
    <div id="report-card-info-pages">
        <%for(let x=1; x<6; x++){%>
            <div class = "report-card-info-box" id="report-card-info-box-<%=x%>">
                <%=x%>
            </div>
        <%}%>
        <div class = "report-card-info-box" id="report-card-info-box-6">
            Skills
        </div>
        <!-- 6 is for skill info -->
    </div>
    <subcontainer></subcontainer>
</div>
<div id="report-card-avatar">
            
</div>
<script>

</script>
<animation>reportCardInfo</animation>