<div id="report-card-info">
    <div id="report-card-info-name">
        Ishikawa Shiori
    </div>
    <div id="report-card-info-pages">
        <%for(let x=1; x<7; x++){%>
            <div class = "report-card-info-box" id="report-card-info-box-<%=x%>">

            </div>
        <%}%>
        <!-- 6 is for skill info -->
    </div>
    <subcontainer></subcontainer>
</div>
<div id="report-card-avatar">
            
</div>
<script>
    $("#academy-logo").css("transition","1000ms");
    $("#academy-logo").css("transform","translate(27vw,5vh)");
</script>
<animation>right</animation>